@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@300;400&family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff;
   
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

span{
    font-family: 'Fredoka', sans-serif;
}
/* body {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: white;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
} */

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #0f0c29, #302b63, #24243e);
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

